<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SelectExchangeRate</title>
    <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<h2>SelectExchangeRate</h2>
<button onclick="insertExchangeRate()">新增</button>
<table>
	<thead>
        <tr>
        	<th>ID</th>
            <th>Date</th>
            <th>UsdToNtd</th>
            <th>RmbToNtd</th>
            <th>UsdToRmb</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="eb,status : ${ebList}">
        	<td th:data-id="${eb.id}" th:text="${eb.id}">ID</td>
            <td th:text="${eb.exchangeDate}">Date</td>
            <td th:text="${eb.usdToNtd}">UsdToNtd</td>
            <td th:text="${eb.rmbToNtd}">RmbToNtd</td>
            <td th:text="${eb.usdToRmb}">UsdToRmb</td>
            <td><button class="update-button">更新</button></td>
        	<td><button class="delete-button">刪除</button></td>
        </tr>
    </tbody>
    </table>
    <script>
    $(document).ready(function() {
        $('.delete-button').on('click', function() {        
            var row = $(this).closest('tr');
            var id = row.find('td[data-id]').data('id');
            console.log('ID 值為：', id);
            let formData = new FormData();
        	formData.append('id', id);
        	fetch(
    			"/deleteExchangeRate",
    			{
   					method: "POST",
   					body: formData
   				})
   				.then(
   					function (result) {
   						return result.text()
   					})
   				.then(
   					function (data) {
   						window.location.href = '/selectExchangeRate';
   					});
        });
        $('.update-button').on('click', function() {        
        	var row = $(this).closest('tr');
            var id = row.find('td[data-id]').data('id');
            window.location.href = "/updateExchangeRate?id="+id;
        });
    });

    function insertExchangeRate() {
    	window.location.href = '/insertExchangeRate';
    }
    </script>
</body>
</html>